<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="url-test" value="https://extendsclass.com/api/json-storage/bin/badecbf,https://extendsclass.com/api/json-storage/bin/acaccef,https://extendsclass.com/api/json-storage/bin/fadcbfc,https://extendsclass.com/api/json-storage/bin/abdadbd"></add>
    <add key="url" value="https://tmbzgf9onc.execute-api.us-west-2.amazonaws.com/latest/haiku/stanza1,https://tmbzgf9onc.execute-api.us-west-2.amazonaws.com/latest/haiku/stanza2,https://tmbzgf9onc.execute-api.us-west-2.amazonaws.com/latest/haiku/stanza3,https://tmbzgf9onc.execute-api.us-west-2.amazonaws.com/latest/haiku/author"/>
    <add key="api-key" value="uVUXaRHOXVyGQhHxUZ8PQ249wqGeozCrhCdy0000"/>
  </appSettings>
</configuration>